<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=63ca8f8286d974001943c4ef&product=inline-follow-buttons&source=platform" async="async"></script>

<!-- end custom head snippets -->
